<h4> Add Stock Form </h4>
<br>

<form action="/addstock/submitted" method="POST">
  <div class = "mb-3 row">
      <label class="col-sm-2 col-form-label">Stock Name 
      </label>
      <div class="col-sm-10">
        <input type="text" required name = "a_stock_name" placeholder="JIOFIN" value="{{           request.form['a_stock_name'] }}">
      </div> 
  </div>
  
  <div class = "mb-3 row">
    <label class="col-sm-2 col-form-label">User Name 
    </label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" required name = "a_stock_username" value={{username}}>
    </div> 
  </div>
  
  <div class = "mb-3 row">
    <label class="col-sm-2 col-form-label">Stock Exchange 
    </label>
    <div class="col-sm-10">
        <select name="a_stock_exchange" id="a_stock_exchange">
          <option value="NSE">NSE</option>
          <option value="BSE">BSE</option>
        </select>
    </div>
  </div>
  
  <div class = "mb-3 row">
    <label class="col-sm-2 col-form-label">Stock Broker 
    </label>
    <div class="col-sm-10">
        <select name="a_stock_broker" id="a_stock_broker" >
          <option value="DHAN">DHAN</option>
          <option value="FYERS">FYERS</option>
          <option value="GROWW">GROWW</option>
          <option value="ZERODHA">ZERODHA</option>
        </select>
    </div>
  </div> 
  
  <div class = "mb-3 row">
    <label class="col-sm-2 col-form-label">Stock Quantity </label>
    <div class="col-sm-10">
      <input type="number" required name = "a_stock_quantity" placeholder="10" value="{{ request.form['a_stock_quantity'] }}">
    </div>
  </div>
  
  <div class = "mb-3 row">
    <label class="col-sm-2 col-form-label">Avg Buy price </label>
    <div class="col-sm-10">
      <input type="decimal" required name = "a_stock_buyp" placeholder="100.00" value="{{ request.form['a_stock_buyp'] }}">
    </div>  
  </div>
  
  <input type="submit" action="submit">
</form>