<h4> Registration Form </h4>
<form action="/register/submitted" method="POST">
  <div class = "mb-2">
  <label>Full Name </label><br>
  <input type="text" required name = "full_name" placeholder="Bruce Wayne" value="{{ request.form['full_name'] }}"><br>
  </div>

  <div class = "mb-2">
  <label>Email: </label><br>
  <input type="email" required name = "email" placeholder="bruce@gmail.com"><br>
  </div>

  <div class = "mb-2">
  <label>User Id: </label><br>
  <input type="text" name = "username" placeholder="brucewane">
  </div>

  <div class = "mb-2">
    <label>Password: </label><br>
    <input name = "password" type="password" placeholder="**********"">
  </div>
  <br><br>
   <p>Already a User ? Login <a href="/login">Here</a></p>
  <input type="submit" action="submit">
</form>