<a class="text-black " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  <i class="fa-solid fa-bars" style="margin-left:10px; margin-top:10px;font-size:20px;"></i>
</a>
<div class="offcanvas offcanvas-start bg-secondary" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Quick Links</h5>
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div>
    Please select your option via the below quick links..
  </div>
  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
      Stocks
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="/stock_dashboard">View</a></li>
      <li><a class="dropdown-item" href="/add_stock1">Add</a></li>
      <li><a class="dropdown-item" href="#">Buy</a></li>
      <li><a class="dropdown-item" href="#">Sell</a></li>
    </ul>
  </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        MF
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">View</a></li>
        <li><a class="dropdown-item" href="#">Add</a></li>
        <li><a class="dropdown-item" href="#">Buy</a></li>
        <li><a class="dropdown-item" href="#">Sell</a></li>
      </ul>
    </div>
</div>
</div>